<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>
    <title>Registration</title>
    <link rel="stylesheet" href="/static/css/Register.css" />
    <link href="//cdn.muicss.com/mui-0.10.3/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet" />
    <script src="/static/js/country-states.js"></script>

</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-5">
                <div class="d-flex gap-3 SideBox">
                    <img src="/static/Images/BS.jpeg" class="BuzzImg" />
                    <a href = '/' class="textbuzz">Buzzart Software PVT. LTD.</a>
                </div>
            </div>
            <div class="col-6 regMainBox">
                <!-- <h1 style="text-align: center;">Sign-Up</h1> -->
                <p style="text-align: center;">Add Certificate</p>
                <form class="form-group" method="post">
                    {% csrf_token %}
                    {% for fm in R_Frm %}
                    <div class="d-flex gap-2" >
                        {{ fm.label_tag }}
                    </div>
                    <div class="d-flex gap-2">
                        {{ fm }}  {{ fm.erros | striptags }}
                    </div>
                    {% endfor %}
        
                    <div class="d-flex p-md-4">
                        <a href="log" style="text-decoration: none; color:#50b5ff;">Already have an account?</a>
                        <input type="submit" class="btn btn-primary" style="margin-left: 60%;" value="Add"/>
                    </div>
                </form>
            </div>
        </div>

    </div>

	<script>
        // user country code for selected option
        let user_country_code = "IN";

        (function () {
            // script https://www.html-code-generator.com/html/drop-down/country-region

            // Get the country name and state name from the imported script.
            let country_list = country_and_states['country'];
            let states_list = country_and_states['states'];

            // creating country name drop-down
            let option = '';
            option += '<option>select country</option>';
            for (let country_code in country_list) {
                // set selected option user country
                let selected = (country_code == user_country_code) ? ' selected' : '';
                option += '<option value="' + country_code + '"' + selected + '>' + country_list[country_code] + '</option>';
            }
            document.getElementById('id_country').innerHTML = option;

            // creating states name drop-down
            let text_box = '<input type="text" class="input-text" id="id_state">';
            let state_code_id = document.getElementById("id_state");

            function create_states_dropdown() {
                // get selected country code
                let country_code = document.getElementById("id_country").value;
                let states = states_list[country_code];
                // invalid country code or no states add textbox
                if (!states) {
                    state_code_id.innerHTML = text_box;
                    return;
                }
                let option = '';
                if (states.length > 0) {
                    option = '<select style="height: 40px;" name="state" class="form-control" id="id_state">\n';
                    for (let i = 0; i < states.length; i++) {
                        option += '<option value="' + states[i].code + '">' + states[i].name + '</option>';
                    }
                    option += '</select>';
                } else {
                    // create input textbox if no states 
                    option = text_box
                }
                state_code_id.innerHTML = option;
            }

            // country select change event
            const country_select = document.getElementById("id_country");
            country_select.addEventListener('change', create_states_dropdown);

            create_states_dropdown();
        })();

    </script>

</body>

</html>