<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .main {
            padding: 10px;
            font-family: monospace;
            font-size: 12px;
        }
    </style>
</head>
<body style="background-color:gainsboro">
    <div>
        <img src="/static/Images/Buzzart-Logo.png" width="10%" />
    </div>
    <div class="main">
        <h3>Welcome to Buzzart Software Pvt Ltd</h5>
        <p>Hello Mr {{ userid }},</p>
        <p>We welcome to the Buzzart Recruitment Process your text link mentioned below</p>
        <a href="/testlink">Click Here to Begin Test</a>
        <p>Best of luck</p>
    </div>
    <br/><br/><br/><br/>
    <div class="main">
        <p>Regards</p>
        <p>HR,</p>
        <p>Buzzart Softwares,</p>
        <img src="/static/Images/BS.jpeg" width="10%"/>
    </div>
</body>
</html>