<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form name = "mailFrm" method ="post" actions ="send_mail">
        {% csrf_token %}
        Recipient Address <input type="email" name = "emailid" />
        Type You message here <textarea name ="msg"></textarea>
        <input type="submit"  value ="Send"/>
    </form>
</body>
</html>